#root {
	--textPrimary: #3681f0;
}
html {
  height: 100%;
}
body {
  background-color: black!important;
  overflow-x: hidden!important;
}
.navbar, .navbar-default, nav, .navbar-header{
  background-color: black!important;
}
h1, h2, h3, p, .nav-link, .navbar-brand{
  color: #3681f0!important;
  font-family: 'Roboto Slab', serif;
}
.nav-link{
  margin: 0px 10px 0 10px;
}
#video{
    display: block;
    margin: 0 auto;
    left: 0;
    right: 0;
    position: relative!important;

}
.breakdown-video{
  width: 2000px;
  height: 550px;
  max-width: 100%;
}
.video-player{
  width: 400px!important;
  height: 350px!important;
  display: none!important;
}
/* MOSAIC */
.mosaic-1{
  background: url('https://s3-us-west-1.amazonaws.com/gregkalamdaryanbucket2/website_files/Screenshots/CloudShip.jpg');
}
.mosaic-2{
  background: url('https://s3-us-west-1.amazonaws.com/gregkalamdaryanbucket2/website_files/Screenshots/gears.jpg');
}
.mosaic-3{
  background: url('https://s3-us-west-1.amazonaws.com/gregkalamdaryanbucket2/website_files/Screenshots/Lava.jpg');
}
.mosaic-4{
  background: url('https://s3-us-west-1.amazonaws.com/gregkalamdaryanbucket2/website_files/Screenshots/ship.jpg');
}
.mosaic-5{
  background: url('https://s3-us-west-1.amazonaws.com/gregkalamdaryanbucket2/website_files/Screenshots/Treegrowth.jpg');
}
.mosaic-image {
  width: 20vw;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transition: width 1s;

}
.mosaic-image:hover{
  width: 600px;
}
@media (max-width: 500px){
  .mosaic-image:hover{
    width: 100vw;
  }
}
.navbar-brand span{
  margin-left: 20px;
}
.navbar-brand {
  margin-top:-0px;
}
.navbar-brand > img {
  margin-bottom: -10px;
}
.navbar-brand small{
  display: block;
  margin-left: 110px;
  margin-top: -20px;
}
.navbar-toggler {
  background-color: #3681f0!important;
  margin-top: 10px;
}