body {
  background-color: whitesmoke!important;
  padding-bottom: 7%;
  overflow-x: hidden!important;
}
#video{
    display: block;
    margin: 0 auto;
    left: 0;
    right: 0;
    position: relative!important;

}
.breakdown-video{
  width: 700px;
  height: 450px;
  max-width: 100%;
}
.video-player{
  width: 400px!important;
  height: 350px!important;
  display: none!important;
}
/* MOSAIC */
.mosaic-1{
  background: url('https://s3-us-west-1.amazonaws.com/gregkalamdaryanbucket2/website_files/Screenshots/CloudShip.jpg');
}
.mosaic-2{
  background: url('https://s3-us-west-1.amazonaws.com/gregkalamdaryanbucket2/website_files/Screenshots/gears.jpg');
}
.mosaic-3{
  background: url('https://s3-us-west-1.amazonaws.com/gregkalamdaryanbucket2/website_files/Screenshots/Lava.jpg');
}
.mosaic-4{
  background: url('https://s3-us-west-1.amazonaws.com/gregkalamdaryanbucket2/website_files/Screenshots/ship.jpg');
}
.mosaic-5{
  background: url('https://s3-us-west-1.amazonaws.com/gregkalamdaryanbucket2/website_files/Screenshots/Treegrowth.jpg');
}
.mosaic-image {
  width: 300px;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transition: width 1s;

}
.mosaic-image:hover{
  width: 600px;
}